# 14. Optimization of Employee Shuttle Stops

In [2]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import googlemaps

%matplotlib inline

In [3]:
from platform import python_version
print(python_version())

3.6.10

In [4]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px solid lightgray;
}

## Load Dataset

In [5]:
address=pd.read_csv('E:/Collection_DS_takehome_challenges/Data/shuttle_stops/Employee_Addresses.csv')
address.head()

                                          address  employee_id
0   98 Edinburgh St, San Francisco, CA 94112, USA          206
1        237 Accacia St, Daly City, CA 94014, USA         2081
2    1835 Folsom St, San Francisco, CA 94103, USA          178
3  170 Cambridge St, San Francisco, CA 94134, USA           50
4     16 Roanoke St, San Francisco, CA 94131, USA         1863

In [6]:
address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      2191 non-null   object
 1   employee_id  2191 non-null   int64
dtypes: int64(1), object(1)
memory usage: 34.4+ KB

In [8]:
stops =pd.read_csv('E:/Collection_DS_takehome_challenges/Data/shuttle_stops/Bus_Stops.csv')
stops.head()

   Street_One         Street_Two
0  MISSION ST          ITALY AVE
1  MISSION ST  NEW MONTGOMERY ST
2  MISSION ST            01ST ST
3  MISSION ST            20TH ST
4  MISSION ST         FREMONT ST

In [9]:
stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Street_One  119 non-null    object
 1   Street_Two  119 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

## Data Processing

In [14]:
unique_address =list(address['address'].unique())
print(len(unique_address))
unique_address[:10]

1761

['98 Edinburgh St, San Francisco, CA 94112, USA',
 '237 Accacia St, Daly City, CA 94014, USA',
 '1835 Folsom St, San Francisco, CA 94103, USA',
 '170 Cambridge St, San Francisco, CA 94134, USA',
 '16 Roanoke St, San Francisco, CA 94131, USA',
 '222 Whittier St, Daly City, CA 94014, USA',
 '13 Hyde St, San Francisco, CA 94102, USA',
 '2919 Geneva Ave, Daly City, CA 94014, USA',
 '100 Larkin St, San Francisco, CA 94102, USA',
 '230 Murray St, San Francisco, CA 94112, USA']

In [15]:
unique_address = list(set(address['address']))
print(len(unique_address))
unique_address[:10]

1761

['545 Delta St, San Francisco, CA 94134, USA',
 '2829 Pierce St, San Francisco, CA 94123, USA',
 '283 Silver Ave, San Francisco, CA 94112, USA',
 '41 Grove St, San Francisco, CA 94102, USA',
 '1349 San Jose Avenue, San Francisco, CA 94131, USA',
 '318 Arleta Ave, San Francisco, CA 94134, USA',
 '181 Bertita St, San Francisco, CA 94112, USA',
 '43 Risel Ave, Daly City, CA 94014, USA',
 '2789 Diamond St, San Francisco, CA 94131, USA',
 '418 Munich St, San Francisco, CA 94112, USA']

In [16]:
def merge_stop(x):
    return x[0] + ' & ' + x[1] + ' CA'

unique_stop = list(set(stops.apply(merge_stop, axis=1)))

In [21]:
print(len(unique_stop))
unique_stop[:10]

119

['MISSION ST & RUSSIA AVE CA',
 'MISSION ST & ERIE ST CA',
 'MISSION ST & NORTON ST CA',
 'MISSION ST & RUTH ST CA',
 'MISSION ST & 19TH ST CA',
 'MISSION ST & APPLETON AVE CA',
 'MISSION ST & ADMIRAL AVE CA',
 'MISSION ST & SPEAR ST CA',
 'MISSION ST & CASTLE MANOR AVE CA',
 'MISSION ST & WASHBURN ST CA']

In [45]:
stops['unqiue_stop']=stops['Street_One']+' & '+stops['Street_Two']+' SAN FRANCISCO, CA'
unique_stop = stops['unqiue_stop'].unique()
print(len(unique_stop))
unique_stop[:10]

119

array(['MISSION ST & ITALY AVE SAN FRANCISCO, CA',
       'MISSION ST & NEW MONTGOMERY ST SAN FRANCISCO, CA',
       'MISSION ST & 01ST ST SAN FRANCISCO, CA',
       'MISSION ST & 20TH ST SAN FRANCISCO, CA',
       'MISSION ST & FREMONT ST SAN FRANCISCO, CA',
       'MISSION ST & 13TH ST SAN FRANCISCO, CA',
       'MISSION ST & ERIE ST SAN FRANCISCO, CA',
       'MISSION ST & BEALE ST SAN FRANCISCO, CA',
       'MISSION ST & FAIR AVE SAN FRANCISCO, CA',
       'MISSION ST & SAINT MARYS AVE SAN FRANCISCO, CA'], dtype=object)

## Solution 1: Distance Measure (incompleted)

Here, I am using the Google Distance Matrix API for origin and destination walking distance measure. The GitHub link for google-maps-services-python can be found at: https://github.com/googlemaps/google-maps-services-python.

Since this is a charged service, I only show one query for demo purpose. After query the distance, I believe the next step is pretty clear.

In [ ]:
# start google API with your KEY (you can register at Google.com)
gmaps = googlemaps.Client(key='*************************************')

In [ ]:
# defind origin and destination
origin = unique_address[0]
destination = unique_stop[0]

print('Origin:\t\t', origin)
print('Destination:\t', destination)

In [ ]:
# query walking distance between origins and destinations
result = gmaps.distance_matrix(origins=origin, destinations=destination, 
                               mode='walking')
result

## Solution 2 (incompleted)

In [26]:
import re
import csv
from collections import Counter

In [27]:
pattern = re.compile(r"(\d+) (.+), (.+), CA (\d+), USA")

In [31]:
address.head()

                                          address  employee_id
0   98 Edinburgh St, San Francisco, CA 94112, USA          206
1        237 Accacia St, Daly City, CA 94014, USA         2081
2    1835 Folsom St, San Francisco, CA 94103, USA          178
3  170 Cambridge St, San Francisco, CA 94134, USA           50
4     16 Roanoke St, San Francisco, CA 94131, USA         1863

In [29]:
class Employee(object):
    def __init__(self,segments):
        # address
        matched = pattern.match(segments[0])
        if matched is None:
            raise Exception('format not supported')

        self.building_no = int( matched.group(1) )
        self.street = matched.group(2).lower()
        self.city = matched.group(3)
        self.zipcode = int( matched.group(4) )

        # employee-id
        self.id = int(segments[1])

employees = []
invalid_employees = []

In [30]:
address_file = "E:/Collection_DS_takehome_challenges/Data/shuttle_stops/Employee_Addresses.csv"
with open(address_file,"rt") as inf:
    reader = csv.reader(inf)
    for segments in reader:
        try:
            employees.append(Employee(segments))
        except:
            invalid_employees.append(segments[0])

################
streets_counter = Counter((e.street for e in employees))
streets_counts = pd.Series(streets_counter)
streets_counts.sort_values(ascending=False)

16th st                              61
geneva ave                           50
folsom st                            46
alemany blvd                         46
mission st                           42
                                     ..
still st                              1
peabody st                            1
adair st                              1
van ness avenue, 100 van ness ave     1
york st                               1
Length: 266, dtype: int64

## Solution 3

### Extracting Latitude/Longitude with Geocoder

Using the geocoder library in Python, we can obtain latitude and longitude information about each address.

In [46]:
potential_bus_stops=stops
potential_bus_stops.head()

,Street_One,Street_Two,unqiue_stop
0,MISSION ST,ITALY AVE,"MISSION ST & ITALY AVE SAN FRANCISCO, CA"
1,MISSION ST,NEW MONTGOMERY ST,"MISSION ST & NEW MONTGOMERY ST SAN FRANCISCO, CA"
2,MISSION ST,01ST ST,"MISSION ST & 01ST ST SAN FRANCISCO, CA"
3,MISSION ST,20TH ST,"MISSION ST & 20TH ST SAN FRANCISCO, CA"
4,MISSION ST,FREMONT ST,"MISSION ST & FREMONT ST SAN FRANCISCO, CA"

In [47]:
# Import geocoder library to geocode addresses through MapQuest's platform
import geocoder
import pprint

# Test out the geocoder API
# MapQuest geocoder API key
# https://developer.mapquest.com/documentation/geocoding-api/
MAPQUEST_API_KEY = 'INSERT_MAPQUEST_API_KEY_HERE'

pp = pprint.PrettyPrinter(indent=4)
geocode_object = geocoder.mapquest('San Jose State University, San Jose, CA', key=MAPQUEST_API_KEY)
pp.pprint(geocode_object.json)

geocode_object = geocoder.mapquest('San Jose State University, San Jose, CA', key=MAPQUEST_API_KEY)

ModuleNotFoundError: No module named 'geocoder'